*.o
*.hex
*.git
.cache
*.out
build
latest_executable
log
compile_commands.json
.clang-tidy
.compile_commands.json
package-lock.json
src/*.compdb_entry
TODO.txt
simplos/tmux.conf
gdb.log
commit_unit_test_output.txt
unit_test_log.txt
